<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Страница не найдена</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
            padding-top: 100px;
        }

        a {
            padding: 10px 20px;
            background: #3a7afe;
            color: white;
            text-decoration: none;
            border-radius: 8px;
        }
    </style>
</head>
<body>

<h1>404 — Страница не найдена</h1>
<a href="/patients">На главную</a>

</body>
</html>